.publication {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

.publication-url {
  color: #5db2ff;
  border-color: #5db2ff;
  padding: 5px 0.4rem;
  font-size: 0.6rem;
  border-radius: 0.2rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid;
  margin-left: 1em;
}

.publication-url:hover {
  background-color: #5db2ff;
}

.publication-title {
  font-size: 1.2rem;
}

.publication-journal,
.publication-journal-issue,
.publication-doi {
  color: #757575;
}

.filter-button {
  border-radius: 24px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.filter-grey .filter-button {
  background-color: #757575 !important;
}

.filter-red .filter-button {
  background-color: #ef535080 !important;
}
.filter-red .filter-button-active {
  background-color: #ef5350 !important;
}

.filter-orange .filter-button {
  background-color: #fb8a0080 !important;
}
.filter-orange .filter-button-active {
  background-color: #fb8c00 !important;
}

.filter-blue .filter-button {
  background-color: #0289d180 !important;
}
.filter-blue .filter-button-active {
  background-color: #0288d1 !important;
}

.filter-green .filter-button {
  background-color: #2bbbad80 !important;
}
.filter-green .filter-button-active {
  background-color: #2bbbad !important;
}
