.personal-image {
  width: 230px;
  height: 250px;
}

.paragraph-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

ul {
  padding-inline-start: 20px;
}

ul.education {
  list-style-type: none;
  padding-inline-start: 2px;
}