.personal-image {
  width: 230px;
  height: 250px;
  margin-bottom: 1em;
}

.paragraph-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.email {
  color: #424242;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

ul {
  padding-inline-start: 20px;
}

ul.education {
  list-style-type: none;
  padding-inline-start: 2px;
}

ul.education li {
  margin-bottom: 5px;
}