.Media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  color: black;
}

a .Media:hover {
  color: darkblue;
}

.Media-left {
  display: flex;
  flex-direction: column;
  flex: 320 320;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.Media-right {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex: 480 480;
  min-width: 480px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.Media-image {
  object-fit: scale-down;
}

.Media-text {
  font-size: 1rem;
}

.Youtube-modal .modal-content {
  background-color: transparent;
  box-shadow: none;
}

.Youtube-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.Youtube-close {
  border: none;
  background-color: transparent;
}

.Youtube-close img {
  width: 40px;
  height: 40px;
}
